@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontrealRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --vw: 1440;
  --multiplier: 100vw;
  --padding: calc(36 / var(--vw) * var(--multiplier));
  --background: #ece9e4;
  --text: #020403;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Neue Montreal", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#app {
  width: 100%;
  height: 100dvh;
}

.container__home {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  gap: calc(18 / var(--vw) * var(--multiplier));
  padding: var(--padding);
}

.grid__item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-area: var(--position, 1 / 1);
  cursor: pointer;
  transition: filter 0.35s ease-in-out;
}

.grid__item.load {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
}

.grid__item.load.centered {
  scale: 0.15;
}

@media (hover: hover) and (pointer: fine) {
  .grid__item:hover {
    filter: brightness(2);
  }
}

.container__detail {
  padding-block: var(--padding);
  min-height: 100%;
}

.wrapper__list__image {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3vw;
  position: relative;
}

.item__image__outer {
  position: relative;
  width: 100%;
  aspect-ratio: 5 / 7;
}

.item__image__inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.next__item {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: calc(10 / var(--vw) * var(--multiplier));
}

.next__item__image {
  width: 100%;
  aspect-ratio: 5 / 7;
  position: relative;
  overflow: hidden;
}

.next__item p {
  text-align: center;
  text-transform: capitalize;
}

.next__item .next__item__title {
  font-size: calc(14 / var(--vw) * var(--multiplier));
}

.next__item .next__item__name {
  font-size: calc(18 / var(--vw) * var(--multiplier));
}

.wrapper__next__item__flip {
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  visibility: hidden;
  z-index: 200;
}

.item__flip {
  overflow: hidden;
  position: relative;
}
