---
import "../styles/app.css"

const { template, uid } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body data-barba="wrapper">
		<div data-barba="container" data-barba-namespace={uid}>
			<div data-page-template={template} id="app">
				<slot />
			</div>
		</div>
		<script  src="../scripts/app.js"></script>
	</body>
</html>